:root {
  --color-first: #ffffff; /*color for tag h1 and text in button in header*/
  --color-second: #212121; /*color for section headers*/
  --color-third: #757575; /*color for tag p in other sections in files index and portfolio*/
  --color-four: #2196f3; /*color for span logo and hover*/
}

* {
  box-sizing: border-box;
  margin: 0 auto;
}

body {
  font-family: "roboto", sans-serif;
  background-color: white;
  font-style: normal;
  width: 1600px;
  position: relative;
  margin: 0 auto;
}

header {
  max-width: 100%;
  padding: 32px;
  border-bottom: 2px solid #eeeeee;
  justify-content: space-between;
}

nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  gap: 60px;
}

.mail-icon {
  --color4: currentColor;
  fill: var(--color4);
  height: 12px;
  width: 16px;
  margin-right: 10px;
}

.tel-icon {
  --color4: currentColor;
  fill: var(--color4);
  height: 16px;
  width: 10px;
  margin-right: 10px;
}

.li-contact-bar {
  font-size: 14px;
  font-weight: 500;
}

.contact-bar {
  text-decoration: none;
  list-style: none;
  display: flex;
  gap: 30px;
align-items: baseline;
padding-left: 380px;
}

.contact-bar:last-child{
  margin: 0;
}

.baner {
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/photo00.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  height: 600px;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.icon-box > .article-icons {
  display: block;
  height: 50%;
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.icon-box {
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  margin-right: 0;
  position: relative;
}

.menu {
  display: flex;
  max-width: 1170px;
  justify-content: flex-start;
  align-items: center;
}

.baner-text {
  font-size: 44px;
  width: 696px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}
.baner-text:hover {
  text-decoration: underline;
  text-decoration-color:#2196f3;
   text-decoration-thickness: 3px;
}
.header-menu {
  display: inline-flex;
  width: 1600px;
  height: 100%;
  border-bottom: 2px solid #eeeeee;
}

.header-nav {
  cursor: pointer;
  display: inline-flex;
  row-gap: 30%;
  gap: 30%;
  align-items: center;
}

.logo:hover {
  text-decoration: underline;
  color: #2196f3;
  text-decoration-thickness: 3px;
}

.logo {
  text-decoration: none;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  font-family: "raleway";
  font-style: normal;
}

.nav-list {
  list-style: none;
  display: inline-flex;
  gap: 30px;
}

.linecolor:active {
  color: #2196f3;
}

.linecolor:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: #2196f3;
}

.linecolor {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  border-radius: 6px;
  text-decoration: none;
}

.contact {
  display: flex;
  color: var(--color-third);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}

.contact:hover{
  color: var(--color-four);
}

.btn-buy {
  background-color: #2196f3;
  cursor: pointer;
  border-radius: 4px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin: 0px auto;
  justify-content: center;
  width: 200px;
  height: 50px;
  margin-top: 50px;
}

.line2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  list-style: none;
  display: inline-flex;
  justify-content: space-between;
  gap: 8px;
  padding: 0;
  margin:0;
}

.button-box {
  height: 26px;
  width: 77px;
}

.btn {
  background-color: #f5f4fa;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 26px;
  text-decoration: none;
  color: #212121;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  font-weight: 500;
}

.btn:hover {
  background-color: #2196f3;
  text-decoration: none;
  color: white;
  box-shadow: 4px 4px 6px 0px #00000029, 0px 4px 4px 0px #0000000f,
    0px 1px 1px 0px #0000001f;
}

.articles {
  width: auto;
  justify-content: center;
  display: flex;
  flex-wrap: row;
  columns: 4;
  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  list-style: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  display: inline-flex;
  text-align: justify;
  gap: 30px;
  padding: 0;
}

.our-team {
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
}

.section-bg {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.Team-Card-1 {
  border: 1px;
  border-style:solid;
  border-color: rgba(47, 48, 58, 0.2)
}
.Team-Card-1:hover {
  border-color:#2196f3;
}

.Team-Card-2 {
  border: 1px;
  border-style:solid;
  border-color: rgba(47, 48, 58, 0.2)
}
.Team-Card-2:hover {
  border-color:#2196f3;
}

.Team-Card-3 {
  border: 1px;
  border-style:solid;
  border-color: rgba(47, 48, 58, 0.2)
}
.Team-Card-3:hover {
  border-color:#2196f3;
}

.Team-Card-4 {
  border: 1px;
  border-style:solid;
  border-color:rgba(47, 48, 58, 0.2)
}
.Team-Card-4:hover {
  border-color:#2196f3;
}

.team-list {
  display: flex;
  list-style: none;
  gap: 30px;
  padding: 0;
}
.team-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
  display: flex;
  justify-content: center;
  padding-top: 94px;
  margin-bottom: 40px;
}

.team-header:hover {
  text-decoration: underline;
 text-decoration-color:#2196f3;
  text-decoration-thickness: 3px;
}
.index-figcaption {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.our-job {
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.job-img {
  justify-content: center;
  display: flex;
  margin-bottom: 94px;
}

.job-header:hover {
  text-decoration: underline;
  text-decoration-color:#2196f3;
   text-decoration-thickness: 3px;
}
.job-list {
  list-style: none;
  padding: 0;
  display: inline-flex;
  gap: 30px;
}

.job-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
  display: flex;
  justify-content: center;
  margin: 50px;
}

.oj {
  width: 370px;
  height: 294px;
  position: relative;
  overflow: hidden;
  list-style-type: none;
}

.ot {
  width: 270px;
  height: 428px;
  border-style: solid;
  border: 1px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  margin-bottom: 94px;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
  padding-top: 30px;
  padding-bottom: 10px;
}

.prof {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575;
}

.name:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: #2196f3;
}

.prof:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: #2196f3;
}

.social-links {
  width: 206px;
  height: 56px;
  display: inline-flex;
  column-gap: 24px;
}

.icon:hover {
  background-color: #2196f3;
  border-radius: 50px;
  cursor: pointer;
  --color1: var(--color-first);
  --color3: var(--color-four);
  fill: var(--color3);
}

.icon {
  display: inline-flex;
  margin-top: 16px;
  height: 44px;
  width: 44px;
  align-items: center;
}

.oa {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  width: 270px;
  height: 75px;
  color: #757575;
}
.oa:hover {
  text-decoration: underline;
  text-decoration-color:#2196f3;
   text-decoration-thickness: 3px;
}
.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 270px;
  height: 16px;
}
.title:hover {
  text-decoration: underline;
  text-decoration-color:#2196f3;
   text-decoration-thickness: 3px;
}
.main-nav {
  padding: 3%;
  display: flex;
  justify-content: center;
  margin-top: 94px;
  padding: 0;
}

.container-box {
display: flex;
margin-top: 56px;
margin-bottom: 94px;
}

.box-border {
  border: 4px;
  border-style:solid; 
  border-color: #FFFFFF;
}

.box-border:hover {
  border: 4px;
  border-style:solid; 
  border-color:#2196f3;
}

.cards {
  list-style: none;
  display:inline-block;
  columns: 3;
  column-gap: 30px;
  padding: 0;
}

.signbox {
  position: relative;
  list-style-type: none;
  height: auto;
  width: 370px;
  border: 1px solid #eeeeee;
  margin-bottom: 30px;
}

.sign {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  padding: 30px;
}
.signature {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
  padding: 30px;
}
.sign:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: #2196f3;
}

.signature:hover {
  text-decoration: underline;
  text-decoration-color: #2196f3;
  text-decoration-thickness: 3px;
}

.street {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.our-clients {
  height: 372px;
}

.box-for-client-logo {
  height: 184px;
  width: 1170px;
  margin-bottom: 94px;
  display: flex;
}

.client-logo-hover:first-child{
  margin-left: 0;
}
.client-logo-hover:last-child{
  margin-right: 0;
}

.client-logo:hover {
  cursor: pointer;
  --color1: var(--color-four);
  fill: var(--color1);
}
.client-logo {
  height: 60px;
  width: 106px;
}

.client-logo-hover {
  height: 92px;
  width: 170px;
  --color-border: rgba(175, 177, 184, 0.3);
  border: 1px solid var(--color-border) ;
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.client-logo-hover:hover {
  cursor: pointer;
  align-items: center;
  border: 1px solid var(--color-four);
}


.navcolor1 {
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: underline;
  margin: 0;
}

.navcolor2:hover {
  text-decoration: underline;
  text-decoration-color: #2196f3;
  text-decoration-thickness: 3px;
}
.navcolor1:hover {
  text-decoration: underline;
  text-decoration-color: #2196f3;
  text-decoration-thickness: 3px;
}

.navcolor2 {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin: 0;

}

.street:hover {
  text-decoration: underline;
  text-decoration-color: #2196f3;
  text-decoration-thickness: 3px;
}

.street {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #ffffff;
  align-items: flex-start;
}

footer {
  height: auto;
  width: 100%;
  background-color: #2f303a;
}

address{
  display: flex;
  justify-content: flex-start;
  max-width: 1170px;
}

.footer-address {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  margin-top: 40px;
  margin-left: 0;
  margin-right: 0;

}
.span {
  cursor: pointer;
  margin: 0;
}
.street {
  cursor: pointer;
}
.footer-logo {
  text-decoration: none;
  display: inline-flex;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  font-family: "raleway";
  font-style: normal;
  margin: 0;
}

.footer-logo:hover {
  text-decoration: underline;
  color: #2196f3;
  text-decoration-thickness: 3px;
}
.join-us {
  display: flex;
  color: white;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  padding-top: 10px;  
}

.box-join-us {
 margin: 40px;
 padding-left: 70px; 
}

.box-join-us:hover {
  text-decoration: underline;
  text-decoration-color: #2196f3;
  text-decoration-thickness: 3px;
}

.footer-icon {
  height: 44px;
  width: 44px;
  margin-top: 16px;
  border-radius: 50px;
  background-color:rgba(175, 177, 184, 0.3);
--color1: var(--color-first);
  display: flex;
  align-items: center;
  justify-content: center;
}


.footer-icon:hover {
  cursor: pointer;
  background-color: #2196f3;
  border-radius: 50px;
  cursor: pointer;
  --color1: var(--color-first);
  --color3: var(--color-four);
  fill: var(--color3);
}

.ul-footer-icon {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 10px;
  padding: 0;
}

.li-footer-icon {
  display: flex;
}